/*--------------------------------------------------------------
  Template Name: Simply Construction HTML Template.
  Template URI: #
  Description: Simply Construction is a unique website template designed in HTML with a simple & beautiful look. There is an excellent solution for creating clean, wonderful and trending material design corporate, corporate any other purposes websites.
  Author: DevItems
  Version: 1.0
---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
.main__menu li.dropdown{
    position: relative;
}

.main__menu li.dropdown ul.sub-menu {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 120%;
  transition: all 0.2s ease-in-out 0s;
  visibility: hidden;
  width: 220px;
  z-index: 999;
}

.main__menu li.dropdown:hover ul.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main__menu ul.sub-menu li {
    border-bottom: 1px solid #f4f4f4;
    display: block;
    padding: 0;
}
.main__menu ul.sub-menu li a {
    background: #ffffff none repeat scroll 0 0;
    color: #1f2d30;
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 15px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.main__menu li.dropdown ul.sub-menu li:hover > a {
    background: #fafafa none repeat scroll 0 0;
    color: #fcc236;
}

