<h2>office WordPress Theme License Information</h2>

<p>office WordPress Theme, Copyright (C) 2014 Manish Gori</p>
<ol>
	<li>License: GNU General Public License, v2 (or newer)</li>
	<li>License URI: <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">http://www.gnu.org/licenses/old-licenses/gpl-2.0.html</a></li>
</ol>

<p>This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.</p>

<p>This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.</p>

<h3>Bundled Scripts</h3>

<p>Superfish jQuery menu plugin, Copyright 2008 Joel Birch</p>
<ol>
	<li>Source: <a href="http://users.tpg.com.au/j_birch/plugins/superfish/">Superfish Menu</a></li>
	<li>License: Dual licensed under the MIT and GPL licenses
	<li>License URI: <a href="http://www.opensource.org/licenses/mit-license.php">http://www.opensource.org/licenses/mit-license.php</a><br />
	<a href="http://www.gnu.org/licenses/gpl.html">http://www.gnu.org/licenses/gpl.html</a>
	</li>
</ol>

<p>Media library uploader, Copyright 2012 WooThemes</p>
<ol>
	<li>Source: <a href="http://www.woothemes.com/">Media library uploader</a></li>
	<li>License: Free to use under the GPLv2 license.
	<li>License URI: <a href="http://www.gnu.org/licenses/gpl-2.0.html">http://www.gnu.org/licenses/gpl-2.0.html</a>
	</li>
</ol>

<p>Custom header script, Copyright AUTOMATTIC</p>
<ol>
	<li>Source: <a href="https://github.com/Automattic/_s/blob/master/inc/custom-header.php">Custom header script</a></li>
	<li>License: Free to use under the GPL license.
	<li>License URI: <a href="http://www.gnu.org/licenses/gpl.html">http://www.gnu.org/licenses/gpl.html</a>
	</li>
</ol>

<p>jQuery FlexSlider v2.1, Copyright 2012 WooThemes</p>
<ol>
	<li>Source: <a href="http://www.woothemes.com/flexslider/">jQuery FlexSlider</a></li>
	<li>License: Free to use under the GPLv2 license.
	<li>License URI: <a href="http://www.gnu.org/licenses/gpl-2.0.html">http://www.gnu.org/licenses/gpl-2.0.html</a>
	</li>
</ol>

<p>FitVids 1.0, Copyright 2011, Chris Coyier - http://css-tricks.com + Dave Rupert - http://daverupert.com</p>
<ol>
	<li>Source: <a href="http://fitvidsjs.com/">jQuery FitVids</a></li>
	<li>License: Released under the WTFPL license.
	<li>License URI: <a href="http://sam.zoy.org/wtfpl/">http://sam.zoy.org/wtfpl/</a>
	</li>
</ol>

<p>Modernizr v2.6.1, Copyright (c) Faruk Ates, Paul Irish, Alex Sexton</p>
<ol>
	<li>Source: <a href="www.modernizr.com">Modernizr</a></li>
	<li>License: Available under the BSD and MIT licenses.
	<li>License URI: <a href="www.modernizr.com/license/">www.modernizr.com/license/</a>
	</li>
</ol>

<p>matchMedia() polyfill, copyright (c) 2012: Scott Jehl, Paul Irish, Nicholas Zakas</p>
<ol>
	<li>Source: <a href="https://github.com/paulirish/matchMedia.js/">Matchmedia</a></li>
	<li>License: Available under the BSD and MIT licenses.
	<li>License URI: /js/matchmedialicense.txt
	</li>
</ol>

<p>SelectNav (v. 0.1), Copyright (c) 2012 Lukasz Fiszer</p>
<ol>
	<li>Source: <a href="https://github.com/lukaszfiszer/selectnav.js">SelectNav</a></li>
	<li>License: Available under the MIT license.
	<li>License URI: <a href="https://github.com/lukaszfiszer/selectnav.js/blob/master/LICENCE">https://github.com/lukaszfiszer/selectnav.js/blob/master/LICENCE</a>
	</li>
</ol>

<p>Options Framework (v. 0.8), Copyright (c) 2012 Devin Price</p>
<ol>
	<li>Source: <a href="http://wptheming.com/options-framework-plugin/">Options Framework</a></li>
	<li>License: Free to use under the GPLv2 license.
	<li>License URI: <a href="http://www.gnu.org/licenses/gpl-2.0.html">http://www.gnu.org/licenses/gpl-2.0.html</a>
	</li>
</ol>

<h3>Images: slide1.png, slide2.png, bullet.png, bullets.png, go-btn.png, slider-shadow.png, main-bg.png, menu-bg.png, read-more.png are custom made, not copyrightable.</h3>

<h3>Bundled Icons (admin/images/ico-delete.png, images/ box1.png, box2.png, box3.png, box4.png)</h3>

<p>Icons, Copyright 2012 woothemes, Janik Baumgartner</p>
<ol>
	<li>Source: <a href="http://www.woothemes.com/2010/08/woocons1/">Icons</a></li>
	<li>License: Free to use under the GPLv2 license.
	<li>License URI: <a href="http://www.gnu.org/licenses/gpl-2.0.html">http://www.gnu.org/licenses/gpl-2.0.html</a>
	</li>
</ol>