/*
Theme Name: office
Theme URI: http://antthemes.com/?page_id=2219
Description: A very neat and clean green and white responsive business theme. The theme supports widgets. And features theme-options, threaded-comments and multi-level dropdown menu. A simple and neat typography.
Version: 1.2.3
Author: Manishg
Author URI: http://antthemes.com/
Tags: green,threaded-comments,light,two-columns,white
License: GNU General Public License, v2 (or newer)
License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 *
 * office WordPress Theme, Copyright (C) 2014 Manish Gori
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * Note: see the "license.htm" page for copyright and 
 * license information for bundled resources, including images
*/

@import "css/normalize.css";

/* General */
/*////////////////////////////////////////////////////////////////////////////////////////////*/


/* main_container */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#wrapper {
	margin: 0 auto;
	position: relative;
}

/* header*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#search-header{
	float:left;
	margin-top:15px;
	padding-bottom:13px;
}

#search-header #search{
	background: #0b0c0c;

}

#search-header #search #s{
	background: #0b0c0c;
	font-size:12px;
	color: #aaa;
}

#header_container{
	margin: 0 auto;
	border-bottom: 1px solid #ddd;	

}

#header {
	width:964px;
	margin: 0 auto;
	padding-bottom: 35px;
}

#header2 {
	margin: 0 auto;
	padding-bottom: 35px;
}

#content_container{
	padding-top: 15px;
}

#left-col {
	padding: 10px 20px;
	padding-left: 0px;
	background: #fff;

}

/*footer*/	
/*////////////////////////////////////////////////////////////////////////////////////////////*/


#footer {
	margin: 0px 0 auto;
	background: #3f4247;
}

#footer-container{
	margin: 0 auto;
	font-size:11px;
}

#footer-container2{
	width:964px;
	margin: 0 auto;
	padding: 15px 0px;
}

#footer-info {
	color:#ccc;
	margin: 0 auto;
	background: #1b1b1b;
	padding: 15px 0px;	
}


#copyright{
	text-align: center;
}

#footer-info a{
	text-decoration:none;
	color: #fff;
}

#footer-info a:hover{
	color: #ebebeb;
}

#footer-widget{
	padding: 8px 0px 8px 0px;
	float: left;
	color:#a8a8a8;
	line-height: 1.6em;
}

#footer-widget #search {
	width:120px;
	height:28px;
	background: #ebebeb;
	margin-left: 0px;
	position: relative;
}

#footer-widget #search #s {
	width:110px;
	height:24px;
	border:0px;
	margin-left:7px;
	margin-right:10px;
	margin-top:3px;
	color:#666;
	display: inline;
	background: #ebebeb;
	float: left;
}

#footer-widget #calendar_wrap {
	padding: 8px 0px;
}

#footer-widget #wp-calendar td{
	padding:2px;
}


#footer-widget .textwidget {
	padding: 5px 0px;
}


#footer-widget .widget_tag_cloud a{
	text-decoration: none;
	margin: 5px;
	line-height: 24px;
	margin-left: 0px;
	color: #6f6f6f;
}

#footer-widget .widget_tag_cloud a:hover{
	color: #fff;
}

#footer-widget .widget-container ul li a	{
	color:#6f6f6f;
}

#footer-widget .widget-container ul li a:hover	{
	color: #ccc;
}

#footer-widget .widget-container h3 {
	color: #fff;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	font-size: 15px;
	padding-bottom: 2px;
}

#footer-widget .widget-container ul li {
	border-bottom: 1px solid #222;
	padding: 7px 0px;
	margin-left: 0px;
	background: none;
	}

#footer-bar1 {
 	float: left;
}
#footer-bar2 {
 	float: left;
}
#footer-bar3 {
 	float: left;
}
#footer-bar4 {
 	float: left;
}

span#follow-box{
	position: absolute;
	right: 100px;	
}

span#follow-box img{
	margin: 0 2px;
}

/*logo*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#logo {
	float:left;
	margin: 20px 30px 0px 0px;
}

#logo2 {
	float:left;
	margin: 30px 30px 0px 0px;
}

#logo img{
	border: none;
}

#logo2 a{
	text-decoration: none;
	color: #000;
	font-size: 30px;
	letter-spacing: -1pt;
	font-weight: bold;
}

/*search*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#search {
	width:180px;
	height:28px;
	background: #ebebeb;
	margin-left: 10px;
	position: relative;
}

#search #searchsubmit {
	background:url(images/go-btn.png) no-repeat top right;
	width:28px;
	height:28px;
	border:0px;
	position:absolute;
	right: -35px;
}

#search #s {
	width:170px;
	height:24px;
	border:0px;
	margin-left:7px;
	margin-right:10px;
	margin-top:3px;
	color:#666;
	display: inline;
	background: #ebebeb;
	float: left;
}

/*menu bar*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#menubar {
	float: left;
	z-index: 99;
	margin: 27px 20px 0px 0px;
	position:relative;
}

/*responsive menu*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/* default style */
.selectnav { display: none; }

/* small screen */
@media screen and (max-width: 600px) {
  .js #nav { display: none; }
   .js #nav2 { display: none; }
  .js .selectnav { display: block; }
}

/*homepage boxes*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#box_container{
	margin: 0 auto;
	padding-top: 35px;
}

.boxes{
	min-height: 100px;
	padding: 0px;
	margin-bottom:10px;
}

.box-head {

	padding-bottom: 20px;
}

.box-head img{
	width: 100%;
}

.title-head{
	padding-top:2px;
	text-align: center;
}

.title-box{
	font-size: 20px;
	color: #333;

	padding-bottom: 10px;
	border-bottom: 1px  solid #ebebeb;
}

.box-content {

	padding-top: 10px;
	text-align: center;	
}

/* welcome box */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#welcome_container{
 background: #a0ce4e;
 margin-top: 30px;
}

#welcome-box h1{
	color: #333;

}

#welcome-box {

	
}

#quote-box {

	padding-top: 15px;
}

#author-name {
	text-align: right;
	color: #000;
}

#author-quote {
	font-size: 16px;
	font-style: italic;
	text-align: right;
	padding-bottom: 5px;
}

/* POST */
/*////////////////////////////////////////////////////////////////////////////////////////////*/


.post {
	overflow: hidden;
	-ms-word-wrap: break-word;
word-wrap: break-word;
	
}


.post-entry {
	padding-bottom: 10px;
	padding-top: 10px;
	overflow: hidden;

}

.post-head {
	margin-bottom: 5px;
}

.post-head h1 a, .post-head h1 {
	text-decoration:none;
	color:#333;
	margin: 0px;
	font-size: 30px;
}

.post-head h1 a:hover {
	color:#464646;
}


.post-head-notfound h1, .post-head-404 h1, .post-head-archive h1, .post-head-search h1 {
	margin-bottom: 10px;
	font-weight:normal;
	text-decoration:none;
	color:#333;
	font-size: 30px;
}

.post-thumb img {
	border: 0px solid #ebebeb;
}

.post-entry img{
	margin-bottom: 10px;
}

.meta-data{
	line-height: 16px;
	padding: 6px 3px;
	margin-bottom: 3px;
	font-size: 11px;
	border-bottom: 1px solid #e9e9e9;
}

.meta-data a{

	
}

.read-more {
	margin-top: 10px;
	text-decoration: none;
	padding: 7px 14px;
	color: #777;
	font-size: 12px;
	background: url("images/read-more.png") top left no-repeat;
}

.read-more a:hover{
	color:#000;
}

.clear {
	clear:both;
}

.sticky {
  border-bottom: 1px solid #e7e7e7;
}

.entry-thumbnail img {
	display: block;
	margin: 0 auto 10px;
}

/* content */
/*////////////////////////////////////////////////////////////////////////////////////////////*/
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 10px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 10px;
}
#content tr.odd td {
	background: #f2f7fc;
}

/* sidebar*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#sidebar {
	padding:0px 20px 20px 0px;
}

#sidebar ul  {
	list-style: none;
}

#sidebar { word-wrap: break-word;}

/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	padding: 5px 15px;
}

/* #sidebar img { width: 100%;} */


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
	font-weight: normal;
	font-size: 16px;
}
.commentlist {
	list-style: none;
	margin: 0;
	border-left: 1px solid #e7e7e7;
}
.commentlist li{margin-left: 7px;}

.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 30px;

}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}

#comments .comment-body ul { margin: 0 0 10px 10px; }
#comments .comment-body ul li {
	display: block;
	margin: 5px 0;
	padding: 0 0 0 17px;
	background: url(images/bullet.png) no-repeat 0 5px;
}

#comments .comment-body ol {
	margin: 5px 0 15px 20px;
}
#comments .comment-body ol li { 
	margin: 5px 0;
	list-style: decimal;
	padding: 0 0 0 5px;
 }

.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	padding: 4px;
	border: 1px solid #e6e1db;
	float: left;
	margin-right: 8px;
}
.comment-author .fn a{
	text-decoration: none;
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color:#999999;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color:#999999;
}
.commentlist .even {
}
.commentlist .bypostauthor {

}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a {
	background:#ebebeb; text-decoration:none; width:53px; height:23px; display:block; text-align:center; color: #777;
}
.reply a:hover {
	background-color:#d2d2d2;
	
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}


/* Comments form */
input[type=submit] {
	color: #333;
	cursor: pointer;
	display:block;
	background-color: #ebebeb;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 5px;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
	font-weight: normal;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 95%;
	border:1px solid #ebebeb;
	padding: 5px;
	color: #666;
}
#respond textarea {
	width: 95%;
	border:1px solid #ebebeb;
	color: #666;
	padding: 5px;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}

/*contact form*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.contactform label {
	float:left;
	width:100px;
	font-size:12px;
	padding-top:4px;
	margin-right: 10px;
	color: #333;
	display:block;
	}
	
.contactform input {
	padding:5px;
	width:350px;
	border:1px solid #ebebeb;
	color: #666;
	}
	
.contactform textarea {
	color: #666;
	height:100px;
	width:350px;
	padding:5px;
	border:1px solid #ebebeb;
	}

.contactform p {
	margin-bottom:10px;
}	

.contactform .submit input {
	width: auto;
	padding: 5px 18px;
	background: #ebebeb;
	border: 0;
	font-size: 14px;
	color: #777;
	float: right;
	margin-right: 145px;
}	

.contactform .submit input:hover {
	background-color:#d2d2d2;
	cursor:pointer;
}

.needsfilled {
	background:#d2d2d2;
	color:white;
}

#sidebar-contact{
	padding-left: 10px;
}

/*gallery-wp*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#gallery-wp a{
	text-decoration: none;
	font-size: 18px;
}

.gallery-caption {
	margin: 0 0 5px;
}

/*--navigation--*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.navigation {
	float: left;
	width: 100%;
	margin: 20px 0;
}


.navigation .alignleft a {
	float: left;
}

.navigation .alignright a {
	float: right;
}

#nav-single {
    overflow:hidden;
    margin-top:20px;
    margin-bottom:10px;
}
.nav-previous {
    float: left;
    width: 50%;
}
.nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--slider--*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#home-container{
 margin:0 auto;
 padding: 0px 0px 15px 0px;
}

#slider_shadow{
	background: url("images/slider-shadow.png") no-repeat;
	width: 964px;
	height: 40px;
	margin:0 auto;
}

.flex-caption{
background: #232323;	
color: #fff;
padding: 7px;
}

.flexslider p{
	margin: 0px;
}

/*--wp-pagenavi--*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.wp-pagenavi {
	color: #464646;
	margin-top: 30px;
}

.wp-pagenavi a {
	margin-left: 3px;
	padding: 3px 7px;
	text-decoration: none;
}

.wp-pagenavi a.page {
	padding: 2px 5px; 
	margin: 2px;
	text-decoration: none;
	background: #f6f6f6;
}

.wp-pagenavi span.current {
	padding: 2px 5px; 
	margin: 2px;
	font-weight: bold;
	background: #000;
	color: #fff;
}
.wp-pagenavi span.extend {
	padding: 2px 5px; 
	margin: 2px;
	background: #f6f6f6;
	text-decoration: none;
}

.wp-pagenavi span.pages {
	padding: 2px 5px; 
	margin: 2px;
	background: #f6f6f6;
}

/*--sub head and breadcrumbs--*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#subhead_container{
padding: 7px 0px;
background: #3f4247;
}

#subhead_container h1{
	color: #ccc;
	padding-top: 10px;
	padding-left: 0px;
	font-size: 30px;
}

/*--widget-formatting*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*general*/

.widget-container {
	margin-bottom: 45px;
}

.widget-container ul li a	{
	text-decoration:none;

}

.widget-container ul li a:hover	{
	text-decoration:none;
	color:#000;
}

.widget-container h3 {
	color: #333; 
	padding: 0px 5px 8px 10px;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	font-size: 21px;
	font-weight: 500;
}

.widget-container ul li {
	border-bottom: 1px solid #ebebeb;
	padding: 7px 0px 0px 16px;
	margin-left: 0px;
	margin-right: 15px;
}

.widget-container ul li {
	background: url("images/bullet.png") no-repeat 0px 13px;
}

.widget-container ul li ul li{
	margin-left: 6px;
}

/*widgets*/

.textwidget {
	padding: 5px 11px;
}

#calendar_wrap {
	text-align: left;
	padding: 8px 15px;
	margin: 0;
}

#wp-calendar {
	text-align:	left;
	margin-top:	5px;
	width:	100%;
}

#footer-widget #wp-calendar a:hover{
	color: black;
}

#wp-calendar caption{
	font-weight: normal;
	font-size: 14px;
	margin-bottom: .4em;
}

#wp-calendar td{
	padding:10px;
}

#wp-calendar #today{
	font-weight: bold; color: #FF0000;
}


.widget_tag_cloud a{
	text-decoration: none;
	margin: 5px;
	line-height: 24px;
	
}

/*Alignments */
/*////////////////////////////////////////////////////////////////////////////////////////////*/


.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 22px;
	margin-top: 9px;
}

.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 22px;
	margin-top: 8px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter
{
	margin-bottom: 10px;
}

img.alignnone,
.alignnone {
	display: inline;
	margin-right: 15px;
	margin-top: 4px;
	margin-bottom: 12px;
}

.wp-caption {
	border: none;
	background: #f1f1f1;
	color: #888;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	margin-bottom: 15px;
	padding: 4px;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.wp-caption img {
	margin: 5px;
}
.wp-caption p.wp-caption-text {
	margin: 0 0 4px;
}
.wp-smiley {
	margin:0;
}